
<!doctype html>
<html dir="ltr" lang="tr-TR">

<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title - BK & Dashboard Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Bülent | Karanfil - FBÜ & Dashboard Panel" name="description" />
    <meta content="gorevcim" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">   
    <!-- select2 css -->
    <link href="~/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- select2 js -->
    <!-- Bootstrap Css -->
    <link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- app Css -->
    <link href="~/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- Toastsr Css -->
    <link href="~/libs/toastr/build/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- Datatable Css -->
    <link href="~/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Jquery js-->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <script src="~/libs/toastr/build/toastr.min.js"></script>
    <!-- form validations js-->
    <script src="~/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/js/pages/form-validation.init.js"></script>
    <!-- App Css-->
    <link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

</head>


<body>
    @if (TempData["Success"] != null)
    {
        <script type="text/javascript">
            toastr.success('@TempData["Success"]', 'Başarılı')
        </script>
    }
    else if (TempData["Error"] != null)
    {
        <script type="text/javascript">
            toastr.error('@TempData["Error"]', 'Hata')
        </script>
    }
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                </div>
                <div class="d-flex">
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" src="~/images/users/avatar-3.jpg"
                                 alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Bülent Karanfil</span>
                            <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">View Profile</span></a>
                            <a class="dropdown-item" href="#"><i class="uil uil-wallet font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">My Wallet</span></a>
                            <a class="dropdown-item d-block" href="#"><i class="uil uil-cog font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Settings</span> <span class="badge bg-soft-success rounded-pill mt-1 ms-2">03</span></a>
                            <a class="dropdown-item" href="#"><i class="uil uil-lock-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Lock screen</span></a>
                            <a class="dropdown-item" href="#"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Sign out</span></a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu">

            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="#" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/logo-dark.png" alt="" height="20">
                    </span>
                </a>

                <a href="#" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/images/logo-sm.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/images/logo-light.png" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <div data-simplebar class="sidebar-menu-scroll">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled" id="side-menu">
                        <li class="menu-title">Menu</li>

                        <li>
                            <a asp-controller="Home" asp-action="Index">
                                <i class="uil-home-alt"></i>
                                <span>Ana Sayfa</span>
                            </a>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="uil-window-section"></i>
                                <span>Tanımlamalar</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow">Kataegoriler</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a asp-area="" asp-controller="Category" asp-action="Index">Kategori Listeleme</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow">Ürünler</a>
                                    <ul class="sub-menu" aria-expanded="true">
                                        <li><a asp-area="" asp-controller="Products" asp-action="Index">Ürün Listesi</a></li>
                                        <li><a asp-area="" asp-controller="Products" asp-action="PassiveProducts">İstenmeyen Ürünler</a></li>
                                        <li><a asp-area="" asp-controller="ProductBrand" asp-action="Index">Ürün Markaları</a></li>
                                        <li><a asp-area="" asp-controller="ProductColor" asp-action="Index">Ürün Renkleri</a></li>
                                        <li><a asp-area="" asp-controller="Products" asp-action="ProductSave">Ürün Ekleme</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0">@ViewBag.Title</h4>  
                            </div>                             
                        </div>
                    </div>
                    <!-- end page title -->

                    <main role="main">
                        <div class="container-fluid">@RenderBody()</div>
                    </main>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->


            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © Gorevcim.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                İşkur <i class="mdi mdi-heart text-danger"></i> by <a href="#" class="text-reset">Bülent Karanfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <div class="rightbar-overlay"></div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- JAVASCRIPT -->
    <script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/node-waves/waves.min.js"></script>
    <script src="~/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/libs/jquery.counterup/jquery.counterup.min.js"></script>


    <script src="~/js/pages/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/js/app.js"></script>

    <!-- datatables -->
    <script src="~/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- datatable  buttons-->
    <script src="~/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/libs/jszip/jszip.min.js"></script>
    <script src="~/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <!-- datatable responsive -->
    <script src="~/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="~/libs/select2/js/select2.min.js"></script>
    <script src="~/js/pages/ecommerce-add-product.init.js"></script>

    <!-- datatable init js -->
    <script src="~/js/pages/datatables.init.js"></script>

    <!-- ckeditor start-->

    <script src="~/libs/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <!--tinymce js-->
    <script src="~/libs/tinymce/tinymce.min.js"></script>
    <!-- init js -->
    <script src="~/js/pages/form-editor.init.js"></script>
    <!-- Varying Modal Content js -->
        <script src="~/js/pages/modal.init.js"></script>

    <!-- ckeditor end-->
    @await RenderSectionAsync("Scripts",required:false)
</body>

</html>