@{
    ViewData["Title"] = "Home Page";
}
@model dynamic

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">

                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model._productCount</span></h4>
                    <p class="text-muted mb-0">Tüm Ürünler</p>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i></span> Toplam Ürünlerin Sayısı
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">

                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model._activeProductCount</span></h4>
                    <p class="text-muted mb-0">Aktif Ürünler</p>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i></span> Aktif Ürünlerin Sayısı
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model._passiveProductCount</span></h4>
                    <p class="text-muted mb-0">Pasif Ürünler</p>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i></span> Pasif Ürünlerin Sayısı
                </p>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="mb-1 mt-1"><span data-plugin="counterup">@Model._categoryCount</span></h4>
                    <p class="text-muted mb-0">Kategoriler</p>
                </div>
                <p class="text-muted mt-3 mb-0">
                    <span class="text-success me-1"><i class="mdi mdi-arrow-up-bold me-1"></i></span>Toplam Kategori Sayısı
                </p>
            </div>
        </div>
    </div> <!-- end col-->


</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Tüm Kategoriler</h4>
                <div data-simplebar="init" style="max-height: 339px;">
                    <div class="simplebar-wrapper" style="margin: 0px;">
                        <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask">
                            <div class="simplebar-offset" style="right: -17px; bottom: 0px;">
                                <div class="simplebar-content-wrapper" style="height: auto; overflow: hidden scroll;">
                                    <div class="simplebar-content" style="padding: 0px;">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-centered table-nowrap">
                                                <tbody>
                                                    @foreach (var item in Model._category)
                                                    {
                                                        <tr>
                                                            <td>@item.Id</td>
                                                            <td>@item.Name</td>
                                                            @if (@item.IsActive == true)
                                                            {
                                                                <td><span class="badge bg-soft-success font-size-12">Aktif</span></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span class="badge bg-soft-danger font-size-12">Pasif</span></td>
                                                            }
                                                            <td>@(((DateTime)item.CreatedDate).ToString("dd MMM, yyyy"))</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div> <!-- enbd table-responsive-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: auto; height: 499px;"></div>
                    </div>

                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div>

                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div>
                </div> <!-- data-sidebar-->
            </div>

        </div> <!-- end card-->
    </div>
</div>
<div class="row">
    <div class="col-xl-12">

        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Latest Transaction</h4>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 20px;">
                                    <div class="form-check font-size-16">
                                        <input type="checkbox" class="form-check-input" id="customCheck1">
                                        <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                    </div>
                                </th>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Code</th>
                                <th scope="col">Barcode</th>
                                <th scope="col">Sale Price</th>
                                <th scope="col">IsActive</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">TechnicalWebUrl</th>
                                <th scope="col">ExplanationWebUrl</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model._product)
                            {
                                <tr>
                                    <td>
                                        <div class="form-check font-size-16">
                                            <input type="checkbox" class="form-check-input" id="customCheck2">
                                            <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>@item.Id </td>
                                    <td>@item.Name</td>
                                    <td>@item.Category.Name</td>
                                    <td><a href="" class="text-body fw-bold">#@item.Code</a> </td>
                                    <td>@item.Barcode </td>

                                    <td>₺@item.SalePrice</td>
                                    @if (@item.IsActive == true)
                                    {
                                        <td><span class="badge bg-soft-success font-size-12">Aktif</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge bg-soft-danger font-size-12">Pasif</span></td>
                                    }
                                    <td>@(((DateTime)item.CreatedDate).ToString("dd MMM, yyyy"))</td>
                                    <td>@item.TechnicalWebUrl</td>
                                    <td>@item.ExplanationWebUrl</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

